<div class="panel-heading-controls">
    <div class="btn-group">
        <%= link_to "#{root_url}#{record.weiapp.appuid}",
            class: "btn" do %>
            <span class="btn-label icon fa fa-qrcode"></span>
            <%= t :preview %>
        <% end -%>
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu">
            <li>
                <%= link_to polymorphic_path(record.weiapp.app),
                    #class: 'btn btn-sm btn-labeled btn-danger',
                    data: { confirm: 'Are you sure ?'},
                    method: :delete do %>
                    <span class="btn-label icon fa fa-minus-square-o"></span>
                    <%= t :destroy %>
                <% end %>
            </li>
        </ul>
    </div>
</div>