<div class="panel-heading">
    <span class="panel-title">
        <i class="panel-title-icon fa <%= Weiapp.get_icon type %>"></i>
        <%= t title %>
    </span>
    <% if not record.nil? and not record.weiapp.nil? %>
    	<%= render 'share/form_header_actions', record: record %>
    <% end %>
</div>
