<div class="col-sm-4">
    <a class="stat-panel" href="<%= app[:new_app_url] %>">
        <div class="stat-cell bg-<%= color %> valign-middle">
            <i class="fa <%= app[:icon] %> bg-icon"></i>
            <span class="text-xlg"><%= app[:name] %></span><br>
            <span class="text-bg"><%= t :description %></span><br>
            <span class="text-sm" style="max-width: 70%;display: inline-block;"><%= app[:description] %></span>
        </div>
    </a>
</div>