<tr>
    <td><%= index %></td>
    <td><%= app.display_name %></td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-sm dropdown-toggle btn-labeled" data-toggle="dropdown">
                <span class="btn-label icon fa <%= Weiapp.get_icon app.identifier %>"></span>
                <%= t :actions %>&nbsp;<i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="actions">
                <li class="dropdown-header"><%= t :actions %></li>
                <li>
                    <%= link_to "#{root_url}#{app.weiapp.appuid}" do %>
                        <span class="btn-label icon fa fa-qrcode"></span>
                        <%= t :preview %>
                    <% end %>
                </li>
                <li>
                    <%= link_to edit_polymorphic_path(app) do %>
                        <span class="btn-label icon fa fa-pencil-square-o"></span>
                        <%= t :edit %>
                    <% end %>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to polymorphic_path(app),
                        #class: 'btn btn-sm btn-labeled btn-danger',
                        data: { confirm: 'Are you sure ?'},
                        method: :delete do %>
                        <span class="btn-label icon fa fa-minus-square-o"></span>
                        <%= t :destroy %>
                    <% end %>
                </li>
            </ul>
        </div>
    </td>
</tr>