$('#apps-list').empty();
$('#apps-list-container').removeClass('loading');

<%- @apps.each_with_index do |app, i| %>
    <%- if app.app %>
        $('<%= escape_javascript(render "app_row", parent: app, app: app.app, index: i) %>').appendTo('#apps-list').hide().fadeIn();
    <% end -%>
<% end -%>

$('#apps-list-pagination').html('<%= escape_javascript(paginate @apps, :remote => true) %>');