<div class="panel colourable apps-list-container">

    <div class="panel-heading">
        <span class="panel-title">
            <i class="panel-title-icon fa fa-list-ol"></i>
            <%= t :my_apps %>
        </span>
        <div class="panel-heading-controls">
            <%= link_to n_url, class: "btn btn-labeled btn-success btn-sm" do %>
                <span class="btn-label icon fa fa-plus-square"></span>
                <%= t :new_app %>
            <% end -%>
        </div>
    </div>

    <i class="fa fa-refresh fa-spin"></i>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th><%= t :app_name %></th>
                <th><%= t :actions %></th>
            </tr>
        </thead>
        <tbody id="apps-list">
            <%- @apps.each_with_index do |app, i| %>
                <%- if app.app %>
                <%= render 'app_row', parent: app, app: app.app, index: i %>
                <% end -%>
            <% end -%>
        </tbody>
    </table>

    <div class="panel-footer">
        <em><%= t :total %>: <%= @total_apps %></em>
    </div>
</div>

<div id="apps-list-pagination">
    <%= paginate @apps, :remote => true %>
</div>

<script type="text/javascript">
<!--
$(document).ready(function() {

    $('#apps-list-pagination').click(function(e) {
        $('#apps-list-container').addClass('loading');
        $('#apps-list-pagination > a').attr('disabled', 'disabled');
    });

});
// -->
</script>