<div class="page-header">
    <h1><i class="fa fa-plus-square-o page-header-icon"></i>&nbsp;&nbsp;<%= t :new_app %></h1>
</div>

<div class="row">

    <% colors = ['success', 'primary', 'info'] %>

    <% @app_availables.each_with_index do |app, i|  %>
        <%= render 'app_widget', app: app, color: colors[i] %>
    <% end -%>

</div>
