<div class="not_weixin_message">
	<img src="<%= asset_path 'wechat.png' %>" />&nbsp;&nbsp;
	<%= t "Please scan qrcode with weixin" %>
</div>

<% if Rails.env.production? %>
<div class="qrcode">
	<img src="<%= asset_path @qr.image.url %>" alt="qrcode" />
</div>
<% end %>