/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require pixel-admin
 * require widgets
 * require pages
 * require rtl
 *= require themes
 *= require_tree .
 *= require wxm_bcard
 *= require wxm_question
 *= require formtastic-bootstrap
 *= require wxm_event
 *= require not_weixin
*/


/*#menu-content-demo .btn {
    width: 73px !important;
}

li {
    list-style-type: none;
}

#content-wrapper {
    padding: 64px 2px 18px !important;
} *= require wxm_event
*/
