// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-bordered tbody tr td {
	word-break: break-word;
}

.table-bordered thead tr th {
	word-break: break-word;
	//overflow: hidden;
	//text-overflow: ellipsis;
	//white-space: nowrap !important;
}

#menu-content-demo .btn {
	width: auto !important;
	padding: 0 2px !important;
}

.apps-list-container {
	margin-bottom: 0px;
}

.apps-list-container i.fa-refresh {
	display: none;
	position: absolute;
	left: 50%;
	font-size: 30px;
	margin-left: -15px;
	margin-top: 31px;
	z-index: 10;
}

.apps-list-container.loading table {
	opacity: 0.8;
	pointer-events: none;
}

#apps-list-pagination {
	margin-bottom: 75px;
}