<% flash.each do |type, message| %>
<%= logger.debug "FLASH MEASSAGE #{message}" %>
<div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
</div>
<% end %>