<!-- 4. $MAIN_MENU =================================================================================

        Main menu

        Notes:
        * to make the menu item active, add a class 'active' to the <li>
          example: <li class="active">...</li>
        * multilevel submenu example:
            <li class="mm-dropdown">
              <a href="#"><span class="mm-text">Submenu item text 1</span></a>
              <ul>
                <li>...</li>
                <li class="mm-dropdown">
                  <a href="#"><span class="mm-text">Submenu item text 2</span></a>
                  <ul>
                    <li>...</li>
                    ...
                  </ul>
                </li>
                ...
              </ul>
            </li>
-->
    <div id="main-menu" role="navigation">
        <div id="main-menu-inner">
            <div class="menu-content top" id="menu-content-demo">
                <!-- Menu custom content demo
                     CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
                     Javascript: html/assets/demo/demo.js
                 -->
                <div>
                    <div class="text-bg"><span class="text-slim"><%= t :welcome %>,</span> <span class="text-semibold"><%= current_user.nickname %></span></div>
                    <%= image_tag current_user.wx_headimgurl %>
                    <div class="btn-group">
                        <%= link_to logout_path, class: "btn btn-danger btn-outline dark" do %>
                        <i class="fa fa-power-off"></i>
                        <%= t :logout %>
                        <% end -%>
                    </div>
                    <a href="#" class="close">&times;</a>
                </div>
            </div>

            <ul class="navigation">
                <li>
                    <a href="/"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text"><%= t :dashboard %></span><span class="label label-warning">Updated</span></a>
                </li>
                <li>
                <%= link_to a_path do  %>
                    <i class="menu-icon fa fa-list-ol"></i><span class="mm-text"><%=t :my_apps %></span>
                <% end -%>
                </li>
<!--
                <li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-sitemap"></i><span class="mm-text">Menu levels</span><span class="badge badge-primary">6</span></a>
                    <ul>
                        <li>
                            <a tabindex="-1" href="#"><span class="mm-text">Menu level 1.1</span><span class="badge badge-danger">12</span><span class="label label-info">21</span></a>
                        </li>
                        <li>
                            <a tabindex="-1" href="#"><span class="mm-text">Menu level 1.2</span></a>
                        </li>
                        <li class="mm-dropdown">
                            <a tabindex="-1" href="#"><span class="mm-text">Menu level 1.3</span><span class="label label-warning">5</span></a>
                            <ul>
                                <li>
                                    <a tabindex="-1" href="#"><span class="mm-text">Menu level 2.1</span></a>
                                </li>
                                <li class="mm-dropdown">
                                    <a tabindex="-1" href="#"><span class="mm-text">Menu level 2.2</span></a>
                                    <ul>
                                        <li class="mm-dropdown">
                                            <a tabindex="-1" href="#"><span class="mm-text">Menu level 3.1</span></a>
                                            <ul>
                                                <li>
                                                    <a tabindex="-1" href="#"><span class="mm-text">Menu level 4.1</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a tabindex="-1" href="#"><span class="mm-text">Menu level 3.2</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a tabindex="-1" href="#"><span class="mm-text">Menu level 2.2</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
-->
            </ul> <!-- / .navigation -->
            <div class="menu-content">
                <%= link_to n_url, class: "btn btn-success btn-labeled" do %>
                    <i class="btn-label icon fa fa-plus"></i>
                    <%= t :new_app %>
                <% end -%>
            </div>
        </div> <!-- / #main-menu-inner -->
    </div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->
