<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

    <div class="navbar-inner">
        <div class="navbar-header">

            <%= link_to root_url, class:  "navbar-brand" do %>
                <img alt="Pixel Admin" src="<%= asset_path 'favicon.png' %>" width="18px" height="18px">
                WXM.IO

            <% end -%>
        </div>

        <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">

        </div>
    </div>
</div>