<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>wxm.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.png' %>" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>

<body class="theme-default main-menu-animated">

<div id="main-wrapper">


<%= render 'layouts/main_nav' %>

<% if not current_user.nil? %>
<%= render 'layouts/left_menu' %>
<% end %>

    <div id="content-wrapper">
      <%= render partial: "layouts/flash_messages", flash: flash %>
    <%= yield %>
    <% if Rails.env.development? %>

    <div class="qrcode">
        <img src="<%= asset_path @qr.image.url %>" alt="qrcode" />
    </div>

    <% end -%>
    </div> <!-- / #content-wrapper -->
    <div id="main-menu-bg"></div>
</div> <!-- / #main-wrapper -->

<%= javascript_include_tag "application" %>
<script>
<!--
    var init = [];

    init.push(function () {
        // Javascript code here
    });

    window.PixelAdmin.start(init);

    // TODO: Add a loading page to check if is wechat
    // function wxJsBridgeReady(readyCallback) {
    //     if (readyCallback && typeof readyCallback == 'function') {
    //         var Api = this;
    //         var wxReadyFunc = function () {
    //             readyCallback(Api);
    //         };
    //         if (typeof window.WeixinJSBridge == "undefined"){
    //             if (document.addEventListener) {
    //                 document.addEventListener('WeixinJSBridgeReady', wxReadyFunc, false);
    //             } else if (document.attachEvent) {
    //                 document.attachEvent('WeixinJSBridgeReady', wxReadyFunc);
    //                 document.attachEvent('onWeixinJSBridgeReady', wxReadyFunc);
    //             }
    //         }else{
    //             wxReadyFunc();
    //         }
    //     }
    // }

    // wxJsBridgeReady(function(){
    //   alert(typeof window.WeixinJSBridge);
    // });
// -->
</script>
<%= yield :javascripts %>
</body>
</html>