<!DOCTYPE html>
<html>
    <head>
        <title><%= yield :title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="<%= yield :title %>">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-touch-fullscreen" content="yes">
        <%= yield :meta %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <meta name="format-detection" content="telephone=no">
        <%= yield :stylesheets %>
    </head>
    <body>
        <% if current_user %>
        <script>
        window.currentUser = <%= raw current_user.to_json %>;
        </script>
        <% end %>
        <%= yield %>
        <%= yield :javascripts %>
    </body>
</html>